{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %} 

{% block content %} 
    <div class="container left-align thin-container">
        <form method="POST">
            <label class="left-align" for="username">Username</label>
            <input placeholder="Enter username" name="username" id="username" required>
            <label class="left-align" for="password">Password</label>
            <input placeholder="Enter password" type="password" name="password" id="password" required>
            <input class="btn waves-effect waves-ligth amber accent-3 black-text " type="submit" value="Log In">
        </form>
    </div>
{% endblock %}