{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Aprove user {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container thin-container left-align">
    <form method="POST">
        <label class="left-align" for="role">Role</label>
        <select class="browser-default" name="role" required>
            <option value="" disabled selected>Choose your role</option>
            {% for role in roles %}
            <option value="{{ role['id'] }}"> {{ role['name'] }}</option>
            {% endfor %}
        </select>
        
        <label class="left-align" for="proyect">Proyect</label>
        <select class="browser-default" name="proyect" required>
            <option value="" disabled selected>Choose you proyect</option>
            {% for proyect in proyects %}
            <option value="{{ proyect['id'] }}">{{ proyect['description']}}</option>
            {% endfor %}
        </select>
        <button class="btn amber accent-1 black-text left-align" type="submit" name="aprove" value="aprove">
            Aprove user
        </button>
    </form>
</div>
{% endblock %}