{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change role. {{req}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form method="POST">
            <div class="col s5">
                <label class="left-align">Roles</label>
                <select class="browser-default" name="select">
                    <option value="None" disabled selected required>Choose your role</option>
                    <option value="op_manager">Gerente de operaciones</option>
                    <option value="mechanic_sup">Supervisor de area de mecanica general</option>
                    <option value="painting_sup">Supervisor de area de latoneria y pintura</option>
                    <option value="mechanic_spec">Especialista en mecanica</option>
                    <option value="electricity_spec">Especialista en electricidad</option>
                    {# % for role in roles % #}
                    <option value="{{role['id']}}">{{ role['name']} }</option>
                    <!-- <option value="{# role['name'] #}">{# role['description'] #}</option>> -->
                    {# % endfor % #}
                </select>
            </div>
            <div class="col s7">
                <button class="btn waves-effect waves-ligth amber accent-3 black-text" type="submit">
                    Change
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}