{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create user{% endblock %}</h1>
{% endblock %} 

{% block content %} 
    <div class="container left-align thin-container">
        <form method="POST">
            <label class="left-align" for="username">Username</label>
            <input placeholder="Enter username" name="username" id="username" required>
            
            <label class="left-align" for="firstname">First name</label>
            <input placeholder="Enter firstname" name="firstname" id="username" required>

            <label class="left-align" for="secondname">Second name</label>
            <input placeholder="Enter second name" name="secondname" id="secondname" required>

            <label class="left-align" for="password">Password</label>
            <input placeholder="Enter password" type="password" name="password" id="password" required>

            <label class="left-align" for="role">Role.</label>
            <select class="browser-default" name="role" required>
                <option value="" disabled selected>Choose your option</option>
                <option value="op_manager">Gerente de operaciones</option>
                <option value="mechanic_sup">Supervisor de area de mecanica general</option>
                <option value="painting_sup">Supervisor de area de latoneria y pintura</option>
                <option value="mechanic_spec">Especialista en mecanica</option>
                <option value="electricity_spec">Especialista en electricidad</option>
            </select>

            <label class="left-align">Proyect</label>
            <select class="browser-default" name="proyect" required>
                <option value="" disabled selected>Choose a proyect</option>
                {% for proyect in proyects %}
                    <option value="{{ proyect['id']}}">{{ proyect['description']}}</option>>
                {% endfor %}
            </select>
            
            <input class="btn waves-effect waves-ligth amber accent-3 black-text " type="submit" value="Create user">
        </form>
    </div>
{% endblock %}