{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome, {{ g.user['username'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
  <form method="POST">
    <!--problems button-->
    {% if  areProblems %}
    <div class="col s3">
      <button class="btn amber accent-3 black-text" type="subtmit" value="problems" name="problems">Problems</button>
    </div>
    {% endif %}
    <!--return button-->
    <div class="col s1 offset-s8">
      <button class="btn amber accent-3 black-text" type="submit" value="return" name="return">Return</button>
    </div>
  </form>
</div>
<div class="row">
    <form method="POST">
        <div class="col s3">
            <input placeholder="Add a new department" name="dep">
        </div>
        <div class="col s2">
            <button class="btn amber accent-3 black-text" type="submit" name="create">
                <i class="material-icons">add</i>
            </button>
        </div>
    </form>
</div>

<!-- user table -->
<div class="left-align">
  <h5 class="card-panel amber accent-1">Departments.</h5>
</div>

<table class="centered">
  <thead class="card-panel amber accent-1">
    <tr>
      <th>Id</th>
      <th>Descripcion</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>  
    {% for dep in departments %}
      <tr>
        <td>{{ dep['id'] }}</td>
        <td>{{ dep['description']}}</td>
        <td>
          <form method="POST">
            <button class="btn amber accent-3 black-text" type="submit" name="edit" value="{{ dep['id'] }}">
                <i class="material-icons">edit</i>
            </button>
            <button class="btn amber accent-3 black-text" type="submit" name="delete" value="{{ dep['id'] }}">
                <i class="material-icons">delete</i>
            </button>
            <button class="btn amber accent-1 black-text" type="submit" name="detail", value="{{ dep['id'] }}">
                <i class="material-icons">dehaze</i>
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}