{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome, {{ g.user['username'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="center-align">
  <form method="POST">
    <button class="btn waves-effect waves-ligth amber accent-3 black-text" type="submit" name="user" id="user">Go to users</button>
    <button class="btn waves-effect waves-ligth amber accent-3 black-text" type="submit" name="proyect" id="proyect">Go to proyects</button>
    <button class="btn waves-effect waves-ligth amber accent-3 black-text" type="submit" name="clients" id="clients">Go to clients</button>
    <button class="btn waves-effect waves-ligth amber accent-3 black-text" type="submit" name="logs" id="logs">Logger</button>
  </form>
</div>
{% endblock %}