{% extends 'base.html' %}

{% block header %}
    <h1> {% block title %}Welcome, {{ g.user['username'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="left-align">
    <h5 class="card-panel amber accent-1">Proyects.</h5>
</div>

<table class="centered">
    <thead class="card-panel amber accent-1">
      <tr>
        <th>Proyect Id</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>  
      {% for proyect in proyects %}
        <tr>
          <td>{{ proyect['id'] }}</td>
          <td>{{ proyect['description']}}</td>
          <td>{{ proyect['start'] }}</td>
          <td>{{ proyect['end'] }}</td>
          <td>{{ proyect['status'] }}</td>
          <td>
            <form method="POST">
                <button class="btn waves-effect waves-ligth amber accent-3 black-text" type="submit" name="change-dates" value="{{ proyect['id'] }}">Change dates</button>
                <button class="btn waves-effect waves-ligth amber accent-1 black-text" type="submit" name="enable-proyect" value="{{ proyect['id'] }}">Enable</button>
                <button class="btn waves-effect waves-ligth white black-text" type="submit" name="close-proyect" value="{{ proyect['id'] }}">Close</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}