{% extends 'base.html' %}

{% block header %}
  <h5>{% block title %}{{ currProy['Description'] }} {{currProy['start'] }} - {{ currProy['end'] }}{% endblock %}</h5>
{% endblock %}

{% block content %}
<div class="row">
    <form method="POST">
        <div class="col s3">
            <button class="btn amber accent-3 black-text" type="submit" value="add" name="add">
                Add a client
            </button>
        </div>
        <!--return butotn-->
        <div class="col s1 offset-s7">
            <button class="btn amber accent-3 black-text" type="submit" value="return" name="return">Return</button>
        </div>
    </form>
</div>

<!-- proyect table -->
<div class="left-align">
    <h5 class="card-panel amber accent-1">Proyect detail.</h5>
</div>

<table class="centered">
    <thead class="card-panel amber accent-1">
      <tr>
        <th>Id</th>
        <th>Vehicle</th>
        <th>Manager in charge</th>
        <th>Problem</th>
        <th>Solution</th>
        <th>Total</th>
        <th>Observations</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>  
      {% for proyect in proyectClients %}
        <tr>
          <td>{{ proyect['id'] }}</td>
          <td>{{ proyect['plaque']}}</td>
          <td>{{proyect['managerFirstName']}} {{proyect['managerSecondName']}}</td>
          <td>{{ proyect['problem'] }}</td>
          <td>{{ proyect['solution'] }}</td>
          <td>{{ proyect['subtotal'] }}</td>
          <td>{{ proyect['observation'] }}</td>
          <td>
            <form method="POST">
                <button class="btn amber accent-3 black-text" type="submit" name="delete" value="{{ proyect['id'] }}">
                  <i class="material-icons">delete</i>
                </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}