{% extends 'base.html' %}

{% block header %}
  <h5>{% block title %}{{ currProy['Description'] }} {{currProy['start'] }} - {{ currProy['end'] }}{% endblock %}</h5>
{% endblock %}

{% block content %}
<div class="row">
    <form method="POST">
        <div class="col s3">
            <button class="btn amber accent-3 black-text" type="submit" value="add" name="add">
                Add a client
            </button>
        </div>
        <!--return butotn-->
        <div class="col s1 offset-s7">
            <button class="btn amber accent-3 black-text" type="submit" value="return" name="return">Return</button>
        </div>
    </form>
</div>

<!-- proyect table -->
<div class="left-align">
    <h5 class="card-panel amber accent-1">Proyect detail.</h5>
</div>

<table class="centered">
    <thead class="card-panel amber accent-1">
      <tr>
        <th>Id</th>
        <th>Vehicle</th>
        <th>Manager in charge</th>
        <th>Problem</th>
        <th>Solution</th>
        <th>Total</th>
        <th>Observations</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>  
      {% for proyect in proyects %}
        <tr>
          <td>{{ proyect['id'] }}</td>
          <td>{{ proyect['description']}}</td>
          <td>{{ proyect['start'] }}</td>
          <td>{{ proyect['end'] }}</td>
          <td>{{ proyect['status'] }}</td>
          <td>
            <form method="POST">
                <button class="btn amber accent-3 black-text" type="submit" name="modify-proyect" value="{{ proyect['id'] }}">
                  <i class="material-icons">edit</i>
                </button>
                <button class="btn amber accent-1 black-text" type="submit" name="enable-proyect" value="{{ proyect['id'] }}">
                  <i class="material-icons">play_arrow</i>
                </button>
                <button class="btn white black-text" type="submit" name="close-proyect" value="{{ proyect['id'] }}">
                  <i class="material-icons">pause</i>
                </button>
                <button class="btn amber accent-3 black-text" type="submit" name="detail" value="{{ proyect['id'] }}">
                  <i class="material-icons">dehaze</i>
                </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}