{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome, {{ g.user['username'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<!--return butotn-->
<div class="row">
    <form method="POST">
        <div class="col s1 offset-s10">
            <button class="btn amber accent-3 black-text" type="submit" value="return" name="return">Return</button>
        </div>
    </form>
</div>

<!--find proyect-->
<div class="row">
  <form method="POST">
    <div class="col s3">
      <button class="btn amber accent-3 black-text" type="submit" value="create-proyect" name="create-proyect">Create proyect</button>
    </div>
  </form>
  <form method="POST">
    <div class="col s3 offset-s4">
      <input placeholder="Enter proyect description" name="find-proyect" id="proyect">
    </div>
    <div class="col s2">
      <button class="btn amber accent-3 black-text">
        <i class="material-icons">find_in_page</i>
      </button>
    </div>
  </form>
</div>

<!-- proyect table -->
<div class="left-align">
    <h5 class="card-panel amber accent-1">Proyects.</h5>
</div>

<table class="centered">
    <thead class="card-panel amber accent-1">
      <tr>
        <th>Proyect Id</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>  
      {% for proyect in proyects %}
        <tr>
          <td>{{ proyect['id'] }}</td>
          <td>{{ proyect['description']}}</td>
          <td>{{ proyect['start'] }}</td>
          <td>{{ proyect['end'] }}</td>
          <td>{{ proyect['status'] }}</td>
          <td>
            <form method="POST">
                <button class="btn amber accent-3 black-text" type="submit" name="modify-proyect" value="{{ proyect['id'] }}">
                  <i class="material-icons">edit</i>
                </button>
                <button class="btn amber accent-1 black-text" type="submit" name="enable-proyect" value="{{ proyect['id'] }}">
                  <i class="material-icons">play_arrow</i>
                </button>
                <button class="btn white black-text" type="submit" name="close-proyect" value="{{ proyect['id'] }}">
                  <i class="material-icons">pause</i>
                </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}