{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change rol. {}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <form method="POST">
        <div class="col s5">
            <label class="left-align">Roles</label>
            <select class="browser-default">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="col s7">
            <button class="btn waves-effect waves-ligth amber accent-3 black-text" type="submit" name="change" value="change">
                Change
            </button>
        </div>
    </form>
</div>

{% endblock %}