{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Change your password{% endblock %}</h1>
{% endblock %} 

{% block content %} 
    <div class="container left-align thin-container">
        <form method="POST">
            <label class="left-align" for="current-password">Current password</label>
            <input placeholder="Enter your current password" name="current-password" id="current-password" type="password" required>
            
            <label class="left-align" for="new-password">New password</label>
            <input placeholder="Enter your new password" name="new-password" id="new-password"  type="password" required>

            <label class="left-align" for="password">Password</label>
            <input placeholder="Enter password" type="password" name="password" id="password" required>

            <input class="btn waves-effect waves-ligth amber accent-3 black-text " type="submit" value="Change password">
        </form>
    </div>
{% endblock %}